<app-header></app-header>
<section class="dishes" id="dishes">
<h1 class="heading" style="text-align: center;"> Our popular dishes </h1>

    <div class="box-container" routerLink="/AddToCart">

        <div class="box">

            <img src="assets/cryspyFry.png" alt="">
        </div>

        <div class="box">

            <img src="assets/dish-1.png" alt="">
        </div>

        <div class="box">

            <img src="assets/dish-3.png" alt="">
        </div>

        <div class="box">

            <img src="assets/dish-4.png" alt="">
        </div>

        <div class="box">

            <img src="assets/dish-5.png" alt="">
        </div>

        <div class="box">

            <img src="assets/dish-6.png" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-20.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-21.png" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-22.png" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-23.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-24.jpeg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-7.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-8.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-9.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-10.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-11.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-12.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-13.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-14.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-15.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-16.jpg" alt="">
        </div>
        <div class="box">

            <img src="assets/dish-17.jpg" alt="">
        </div>



    </div>

</section>
