<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-4 mt-md-3 pb-4">

                            <h2 class="fw-bold mb-4 text-uppercase">Login Page</h2>
                            <hr>
                            <div class="m1">
                                <form [formGroup]="loginForm" (ngSubmit)="login()">
                                    <div class="form-group">
                                        <th>
                                        <label for="exampleInputEmail1">Email Address</label>
                                    </th>
                                        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email" required="">
                                        <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email is required</span>

                                         <br>
                                    </div>
                                    <div class="form-group">
                                        <th>
                                        <label for="exampleInputPassword1">Password</label>
                                    </th>
                                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*password is required</span>&nbsp;

                                    </div>

                                    <button type="submit" onclick="validation()" [disabled]="!loginForm.valid" class="btn btn-primary btn-lg btn-block">Login</button>
                                </form>
                            </div>
                                <br>
                                    <div>
                                    <p class="mb-0">Don't have an account? <a href="#!" routerLink="/signup"
                                                class="text-white-50 fw-bold">Sign Up</a>
                                        </p>
                                 </div>

                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
