*{
  text-decoration: none;
}
.m1{
  height:5rem;
}

ul{
    margin-top: 15px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
  
  }
  
  li a{
    height: 21rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin:0;
    display:flex;
    flex-direction:column;
    color: #e72929;
    
  }
  li a:hover{
    opacity: 0.9;
    cursor: pointer;
  }
  
  li a img{
    object-fit: cover;
    height: 15.5rem;
  }
  
  .content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
  }
  .product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .price{
    position: absolute;
    top:3rem;
    bottom:0;
    color: #414141;
    font-size:1.1rem;
    text-align: center;
  }
  .cook-time{
    font-size:0.8rem;
  }
  .price::before{
    content:"Price: ";
    color: grey;
  }
  .name::before{
    content:"Name: ";
    color: grey;
  }
  .cook-time::before{
    content:"Cooking-Time: ";
    color: grey;
 }
    .text-center{
    font-size: larger;
} 
.m2{
  font-size: small;
}
/* li img:hover{
  transform: scale(1.1);
} */
